* {
    margin: 0;
    padding: 0;
    background-color: #EBFCFB;
}
.contenedor-principal {
    margin-top: 20px;
}
.contenedor-secundario {
    display: flex;
    margin-top: 50px;
}

.contenedor-footer {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}